@import "tailwindcss";

:root {
  font-family: var(--font-zalando);
  background-color: var(--color-nacho-blanco);
  color: var(--color-nacho-negro);
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  /* evitar scroll horizontal */
  overflow-x: hidden; 
  width: 100%;
}

/* COLORES */
@theme {
    /* Definimos colores personalizados */
    --color-nacho-lima: #E9FF27;
    --color-nacho-azul: #000DFF;
    --color-nacho-negro: #1B1D1C;
    --color-nacho-blanco: #FAFAFA;

    /* Definimos tipografía */
    --font-zalando: "Zalando Sans SemiExpanded", sans-serif;
}

/* para evitar parpadeos en renderizado */
p, span, h1, h2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "kern";
}


/* Aquí cargamos la fuente (archivo en public/fonts/) */
@font-face {
  font-family: 'Zalando Sans Variable';
  src: url('/fonts/ZalandoSansSemiExpanded-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900; /* Definimos el rango */
  font-style: normal;
  font-display: swap;
}

/* italic */
@font-face {
  font-family: 'Zalando Sans Variable';
  src: url('/fonts/ZalandoSansSemiExpanded-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Actualizamos la variable global si la tenías */
@theme {
  --font-zalando: "Zalando Sans Variable", sans-serif;
}

/* motion */
@keyframes reveal {
  from { transform: translateY(100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.reveal-text {
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}

.reveal-text span {
  display: inline-block;
  animation: reveal 0.8s cubic-bezier(0.33, 1, 0.68, 1) forwards;
  opacity: 0;
}


/* footer animacion */
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 50s linear infinite;
}

/* Máscara de desvanecimiento para carruseles */
.fade-edges {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 15%,
    black 85%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 15%,
    black 85%,
    transparent
  );
}