---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";

// Importamos secciones como componentes
import Hero from "../components/Hero.astro";
import LogoSection from "../components/LogoSection.astro";
import TypographySection from "../components/TypographySection.astro";
import ColorPalette from "../components/ColorPalette.astro";
import SocialMedia from "../components/SocialMedia.astro";
import Footer from "../components/Footer.astro";
import SocialCarousel from "../components/SocialCarousel.astro";
---

<Layout title="Conecta con Nacho | Brand Identity">
  <Navbar />

  <main class="bg-nacho-blanco">
    <Hero />
    <TypographySection />
    <ColorPalette />
    <LogoSection />
    <!-- carrusel -->
    <SocialCarousel /> 
    <!-- carrusel -->
    <SocialMedia />
    <!-- footer -->
    <Footer />
  </main>
</Layout>