---
import { ScrollReveal } from "./ScrollReveal";
---

<section
  id="logo"
  class="py-40 bg-nacho-blanco px-6 text-center border-b border-nacho-negro/5"
>
  <ScrollReveal client:load>
    <p
      class="text-nacho-azul font-bold mb-12 uppercase tracking-widest text-xs"
    >
      01. Logotipo Oficial
    </p>
    <div
      class="py-20 flex justify-center items-center text-6xl md:text-9xl font-zalando font-bold tracking-tighter flex flex-col md:flex-row gap-4"
    >
      <span class="text-nacho-negro">Conecta</span>
      <span>con Nacho</span>
    </div>
    <p class="max-w-2xl mx-auto text-nacho-negro/50 text-lg">
      La marca se construye sobre la idea de conexión directa.
    </p>
  </ScrollReveal>
</section>
