<nav class="fixed top-6 left-1/2 -translate-x-1/2 z-50 w-[95%] md:w-auto">
  <div
    class="bg-nacho-negro/90 backdrop-blur-xl border border-white/10 px-4 md:px-8 py-3 rounded-full flex items-center justify-between md:gap-8"
  >
    <div class="flex gap-4 md:gap-8">
      <a
        href="#inicio"
        class="text-nacho-blanco hover:text-nacho-lima transition-colors text-[10px] md:text-xs font-bold tracking-[0.2em]"
        >INICIO</a
      >
      <a
        href="#marca"
        class="text-nacho-blanco hover:text-nacho-lima transition-colors text-[10px] md:text-xs font-bold tracking-[0.2em]"
        >TIPOGRAFÍA</a
      >
      <a
        href="#colores"
        class="text-nacho-blanco hover:text-nacho-lima transition-colors text-[10px] md:text-xs font-bold tracking-[0.2em]"
        >COLORES</a
      >
      <a
        href="#logo"
        class="text-nacho-blanco hover:text-nacho-lima transition-colors text-[10px] md:text-xs font-bold tracking-[0.2em]"
        >LOGO</a
      >
      <a
        href="#social"
        class="text-nacho-blanco hover:text-nacho-lima transition-colors text-[10px] md:text-xs font-bold tracking-[0.2em]"
        >SOCIAL</a
      >
    </div>
  </div>
</nav>
