---
import "../styles/global.css";
/* favicon */
import faviconImg from '../assets/images/logo/favicon.png';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href={faviconImg.src} />
    <title>Conecta con Nacho | Comunicación con alma</title>
  </head>
  <body>
    <slot />
  </body>
</html>
